[user]
	name = Garrett Smith
	email = garrett.smith@iqmetrix.com
[github]
	user = GarrettSmith
	token = b9e52204d0c8ccba23249b244b34cadc
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
	autocrlf = true
	filemode = false
[credential]
[push]
	default = current
[merge]
	tool = vimdiff
[rerere]
	enabled = true
	autoupdate = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
