; PAT EXPIRES DEC 31

//pkgs.dev.azure.com/iqmetrix/_packaging/iqmetrix/npm/registry/:username=iqmetrix
//pkgs.dev.azure.com/iqmetrix/_packaging/iqmetrix/npm/registry/:_password=bHV2amszaGVyZ3hyZWN1ZWp0ZXdjanpxa2t6eGdrcHJsNnB6enlvaHk2bTVzaHN0MzZ6YQ==
//pkgs.dev.azure.com/iqmetrix/_packaging/iqmetrix/npm/:username=iqmetrix
//pkgs.dev.azure.com/iqmetrix/_packaging/iqmetrix/npm/:_password=bHV2amszaGVyZ3hyZWN1ZWp0ZXdjanpxa2t6eGdrcHJsNnB6enlvaHk2bTVzaHN0MzZ6YQ==
//pkgs.dev.azure.com/iqmetrix/_packaging/iqmetrix/npm/:email=npm requires email to be set but doesn't use the value

//registry.npmjs.org/:_authToken=41c01fe7-e189-4bad-b1d5-c9aa1eb7de55
msvs_version=2017

@iqmetrix:registry=https://pkgs.dev.azure.com/iqmetrix/_packaging/iqmetrix/npm/registry/
always-auth=true
