[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Restart Panel
Comment=
Exec=xfce4-panel --restart
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

